/* main text color #757575 */
/* secondary text color #212121 */
/* main-white-color : #FFFFFF; */
/* accent #2196F3; */
/* contacts in footer(exclude address) rgba(255, 255, 255, 0.6) */

:root {
	--main-text-color: #757575;
	--secondary-text-color: #212121;
	--accent-color: #2196f3;
	--main-white-color: #ffffff;
	--contacts-footer: rgba(255, 255, 255, 0.6);
	--color-logo-black: #000000;
	--color-bg-hero: #2f303a;
	--color-btn-prtf: #f5f4fa;
	--primary-bg-color: #ffffff;
	--secondary-bg-color: #f5f4fa;
	--header-border-color: #ececec;
	--border-color: #EEEEEE;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

body {
	color: var(--main-text-color);
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
	background: var(--primary-bg-color);
}

img {
	display: block;
	width: 100%;
}

.list {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
p,
ul {
	margin: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	/* outline: 1px solid teal; */
}

/* work with header */

.header .flex-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header {
	border-bottom: 1px solid var(--header-border-color);
}

nav.flex-container {
	gap: 93px;
}

.site-nav {
	gap: 50px;
}

.auth-nav {
	gap: 50px;
}

.logo {
	color: var(--color-logo-black);
	font-family: "Raleway";
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
	padding: 25px 0;
	display: block;
}
.logo-web {
	color: var(--accent-color);
}

/* site-nav */
.link {
	color: var(--secondary-text-color);
	font-family: "Roboto";
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.link:hover,
.link:focus {
	color: var(--accent-color);
}

.site-nav .link.current {
	color: var(--accent-color);
}

/* auth-nav  */
.contact-link {
	color: var(--main-text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
	color: var(--accent-color);
}

/* hero */
.hero {
	background: var(--color-bg-hero);
	padding: 200px 0;
}
.hero-title {
	color: var(--main-white-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	width: 696px;
	text-align: center;
	margin: 0 auto;
}

.button {
	display: block;
	color: var(--main-white-color);
	background: var(--accent-color);
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	cursor: pointer;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: 10px 32px;
	min-width: 216px;
	margin: 30px auto 0;
}

/* Features */

.section {
	padding: 94px 0;
}

.features.section {
	padding-bottom: 0;
}

.section-title {
	color: var(--secondary-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	margin-bottom: 50px;
}

.feature-list {
	display: flex;
	gap: 30px;
}

.work-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 50px;
}

.team-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 50px;
}

.title {
	color: var(--secondary-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.description {
	line-height: 1.71;
}

/* Team */
.team {
	background: var(--secondary-bg-color);
}

.team-member {
	color: var(--secondary-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	margin-bottom: 10px;
}

.job-title {
	font-size: 16px;
	line-height: 1.19;
}

.member-card {
	background: var(--main-white-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.12);
	border-radius: 0px 0px 4px 4px;
}

.member-team {
	padding: 30px 30px;
	text-align: center;
}

/* footer */
.footer {
	padding: 60px 0;
	background: var(--color-bg-hero);
}

.logo-footer {
	color: var(--main-white-color);
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
}

.location {
	color: var(--main-white-color);
	font-style: normal;
	line-height: 1.71;
}

.link-footer {
	color: var(--main-text-color);
	font-style: normal;
	line-height: 1.71;
	text-decoration: none;
}

.link-footer:hover,
.link-footer:focus {
	color: var(--accent-color);
}

a.logo-footer {
	display: block;
	margin-bottom: 20px;
}

p.location {
	margin-bottom: 9px;
}

a.link-footer {
	display: block;
	margin-bottom: 9px;
}

/* PORTFOLIO */

.filter {
	display: flex;
	flex-wrap: wrap;
	/* gap: 8px; */
	justify-content: center;
	margin-bottom: 50px;
}

.btn:not(:first-child) {
	margin-left: 8px;
}


.button-portfolio {
	color: var(--secondary-text-color);
	background: var(--color-btn-prtf);
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	padding: 6px 22px;
}

.button-portfolio:hover,
.button-portfolio:focus {
	color: var(--main-white-color);
	background: var(--accent-color);
}

.link-portfolio {
	text-decoration: none;
}

.work-list {
	display: flex;
	flex-wrap: wrap;
}

.work-list-item {
	width: calc((100% - 60px) / 3);
}


.title-description {
	border-top: none;
	border: 1px solid var(--border-color);
	padding: 20px 24px;
	/* height: 125px; */
	/* text-align: left; */
}

.work-title {
	color: var(--secondary-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin-bottom: 4px;
}

.description-work {
	color: var(--main-text-color);
	font-size: 16px;
	line-height: 1.88;
}
