@mixin font($fs, $lh) {
    font-size: $fs;
    line-height: $lh;
}

@mixin flex-center($df, $jc, $ai) {
    display: $df;
    justify-content: $jc;
    align-items: $ai;    
}

@mixin mobile {
    @media screen and(min-width:480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and(min-width:768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and(min-width:1200px) {
        @content;
    }
}

@mixin retina {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }
}