:root {
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196f3;
    --main-white-color: #ffffff;
    --contacts-footer: rgba(255, 255, 255, 0.6);
    --color-logo-black: #000000;
    --color-bg-hero: #2f303a;
    --color-btn-prtf: #f5f4fa;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --header-border-color: #ececec;
    --border-color: #eeeeee;
    --color-text-social-links: #afb1b8;
    --bg-color-do-list: rgba(47, 48, 58, 0.8);
    --overlay-color: rgba(33, 150, 243, 0.9);
    --bg-color-btn: #188ce8;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}