@media screen and(max-width:767px) {
	.features {
		margin: 48px 0;
		padding: 0;
	}
}

.feature-list {
	width: 100%;

	@media screen and(min-width:768px) {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}

	@media screen and (min-width: 1200px) {
		flex-wrap: nowrap;
	}

	&-item {
		width: 100%;

		&:not(:last-child) {
			@media screen and(max-width:767px) {
				margin-bottom: 30px;
			}
		}

		@media screen and(max-width:767px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			max-width: 450px;
			margin: 0 auto;
		}

		@media screen and(min-width:768px) {
			width: calc((100% - 30px) / 2);
		}

		@media screen and(min-width:1600px) {
			width: 270px;
		}
	}
}

.feature-icon-div {
	@include flex-center(flex, center, center);

	width: 100%;
	max-width: 450px;
	height: 120px;
	background-color: var(--secondary-bg-color);
	border-radius: 4px;

	@media screen and(min-width:1200px) {
		width: 270px;
	}
}

.features__title {
	@include font(14px, 1.14);
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: var(--secondary-text-color);
	margin-bottom: 10px;
	margin-top: 30px;

	@media screen and(min-width:768px) {
		text-align: left;
	}
}

.description {
	line-height: 1.71;

	@media screen and(max-width:767px) {
		max-width: 450px;
	}
}

.feature-icon {
	width: 70px;
	height: 70px;
}
