.hero {
	// margin-top: 48px;
	padding: 118px 30px;
	background-color: var(--color-bg-hero);
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-1x.jpg);
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 1600px;

	@include retina {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-mob-2x.jpg);
	}
	
	@include tablet {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-tab-1x.jpg);

		@include retina {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-tab-2x.jpg);
		}
	}
	
	@include desktop {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero.jpg);

		@include retina {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-desk-2x.jpg);
		}
	}


	&__title {
		color: var(--main-white-color);
		font-weight: 900;
		font-size: 26px;
		line-height: 1.62;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		text-align: center;
		margin: 0 auto;
		
		@include tablet {
			font-size: 26px;
			line-height: 1.62;
			width: 360px;
			letter-spacing: 0.06em;
		}
		
		@include desktop {
			width: 696px;
			font-size: 44px;
			line-height: 1.36;
			letter-spacing: 0.06em;
		}
	}
	
	&__button {
		display: block;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.88;
		text-align: center;
		letter-spacing: 0.06em;
		color: var(--main-white-color);
		background: var(--accent-color);
		cursor: pointer;
		border: none;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		padding: 10px 32px;
		min-width: 200px;
		margin: 30px auto 0;

	}

	@media screen and(min-width:768px) {
		margin-top: 0;
	}
}
