@media screen and (max-width:1599px) {
	.body-back {
		display: none;
	}
}

@media screen and (min-width: 1600px) {
	.wrapper {
		width: 270px;
		height: 260px;

		&-body {
			position: relative;
			width: 100%;
			height: 100%;
			transform-style: preserve-3d;
			transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}

		&:hover .wrapper-body {
			transform: rotateY(-180deg);
			transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
	.body-face,
	.body-back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--color-logo-black);
		font-size: 16px;
	}

	.body-face {
		transform: rotateY(0deg);
		backface-visibility: hidden;
		z-index: 1;
	}

	.body-back {
		flex-direction: column;
		transform: rotateY(180deg);
		background-color: var(--color-text-social-links);
		padding: 10px;
	}

	.back-link {
		text-transform: uppercase;
		color: var(--main-white-color);
		margin-bottom: 10px;
	}
}

.team {
	background-color: var(--secondary-bg-color);

	&-list {
		@media screen and (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
		}
	}

	&-card {
		background-color: var(--main-white-color);
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0 0 4px 4px;

		@media screen and (min-width: 768px) {
			width: calc((100% - 30px) / 2);
		}

		@media screen and (min-width: 1600px) {
			width: calc((100% - 90px) / 4);
		}
	}

	@media screen and (max-width: 767px) {
		&-card:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	&-name {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.19;
		text-align: center;
		text-transform: none;
		color: var(--secondary-text-color);
		margin-top: 30px;
		margin-bottom: 10px;
	}

	&-position {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.19;
		text-align: center;
		color: var(--main-text-color);
	}

	&-socials {
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--color-text-social-links);
		margin-top: 16px;
	}

	&-member {
		padding-bottom: 24px;
	}

}

.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	color: inherit;
	fill: currentColor;
	border-radius: 50%;

	&:hover,
	&:focus {
		fill: var(--main-white-color);
		background-color: var(--accent-color);
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}

.social-icon {
	width: 20px;
	height: 20px;
}
